body{
    margin: 0;
    padding: 0;
    background-color: gainsboro;
}

fieldset{
    margin: 0;
    padding: 0;
    width: 50%;
    margin-left: 32%;
    margin-top: 10%;
    padding: 4%;
    background-color: rgb(159, 136, 180);
}